<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template is working</title>
</head>
<body>
<h1> wlcm to the text  analyser</h1>
<form action='/analyze' method="get">
    <textarea name="text" style='width: 1036px; height: 159px;'></textarea><br>
    <input type="checkbox" name="removepunc"> remove punc<br>
    <input type="checkbox" name="fullcaps">UPERCASE<br>
    <input type="checkbox" name="extraspaceremover">extraspaceremover<br>
    <input type="checkbox" name="newlineremover"> newlineremover<br>
    <input type="checkbox" name="charcount"> count the character<br>
    <button type="submit"> text analyser</button>


</form>

</body>
</html>